html,
body {
  height: 100%;
}

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--background1, white);
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./fonts/ubuntu-regular-webfont.woff2') format('woff2'),
    url('./fonts/ubuntu-regular-webfont.woff') format('woff');
  font-style: normal;
}

:root {
  --background1: rgb(138, 107, 168);
  --background2: rgb(255, 255, 255);
  --text1: rgb(0, 0, 0);
  --text2: rgb(0, 0, 0);
  --text-footer: rgb(0, 0, 0);
}

body {
  display: grid;
  grid-template: 40px 1fr 40px / 1fr;
}

header {
  grid-row: 1 / 2;

  display: flex;
  justify-content: end;
}

.color-button {
  margin: 10px;
  height: 30px;
  border-radius: 3px;
  border: none;
}

main {
  grid-row: 2 / 3;

  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 350px;
  background-color: rgb(173, 141, 204);
  border-radius: 10px;
}

.container {
  margin: 20px;
  padding: 5px 0;
  background-color: rgb(204, 183, 225);
  border-radius: 10px;
}

.container ul li {
  margin-left: -20px;
}

ul {
  list-style: none;
}

input {
  width: 40px;
  margin: 5px 20px 5px 10px;
}

.pay {
  text-align: center;
  background-color: rgb(204, 183, 225);
  border-radius: 5px;
  margin: 20px 40px 20px 40px;
  padding: 5px 0;
}

footer {
  grid-row: 3 / 4;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  font-size: 1rem;
  color: var(--text-footer);

  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0; */
}
